@charset "UTF-8";

/* Paletas de cores
    verde: #49a09d
    Lalás: #5f2c82  
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box; /*bordar fazendo parte da conta de largura*/
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative; /*conseguir centralizar o loguin*/
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden; /*tudo que ficar fora da bordar vai ficar escondido*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452) ;
    display: block; /*Se comportar como um bloco*/
    transition: width 1s, height 1s ;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-dinnow-9444476.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: block; /*Se comportar como um bloco*/
}
section#login > div#formulario {
    padding: 10px;
    display: block
}